*{margin: 0;
padding: 0;
box-sizing: border-box;}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    background-color: blue;
    padding: 16px;
    border-radius: 25px;
}