*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 16px;
    font-size: 20px;
    border-radius: 25px;
    background-color: grey;
}